$Blue-950: #02295a;
$Purple-600: #473dff;
$Blue-300: #adbeff;
$Blue-200: #bfe2fd;
$Red-500: #ed3548;

$Grey-500: #9699ab;
$Purple-200: #d6d9e6;
$Blue-100: #f0f5ff;
$Blue-50: #fafbff;
$White: #ffffff;
