@use "../configs/fonts";
@use "../configs/colors";

.addon {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
  &__name {
    @include fonts.grayText();
  }

  &__val {
    @include fonts.blueText();

    &--is-total {
      font-weight: 700;
      color: colors.$Purple-600;
    }
  }
}
